<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
      {%- if site.author %}
        <ul class="contact-list">
          <li class="p-name"><a rel="me" href="https://github.com/leylines/EarthData-Covid19" title="EarthData-Covid19"><i class="fab fa-github"></i></a><span>  </span>{{ site.author.name | escape }}</li>
          <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        <p class="feed-subscribe">
          <a href="{{ 'feed.xml' | relative_url }}">
            <i class="fas fa-rss" style="color: #f26522"></i>
            <span>Subscribe</span>
          </a>
        </p>
      </div>
      <div class="footer-col">
        {% include share-buttons.html %}
      </div>
    </div>
  </div>

</footer>
